<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">EDITAR MASCOTA</span>
                    <form>
                        <div class="mb-2">
                            <span class="titulo2 float-start">Cliente</span>
                            <select class="form-select form-select-lg"  name="cliente" id="cliente" [(ngModel)]="mascota.id_cliente" readonly>
                                <option *ngFor="let cliente of clientes" [value]="cliente._id">{{cliente.dni}}-{{cliente.nombres}} {{cliente.apellidos}}</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-lg" id="codigo" name="codigo" placeholder="Código" required [(ngModel)]="mascota.codigo">
                        </div>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-lg" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="mascota.nombre">
                        </div>
                        <div class="mb-2">
                            <select class="form-select form-select-lg"  name="especie" id="especie" [(ngModel)]="mascota.especie">
                                <option *ngFor="let e of getEspecies()" [value]="e"  [selected]="e === mascota.especie">{{e}}</option>
                            </select>
                            <!-- <input type="text" class="form-control form-control-lg" id="especie" name="especie" placeholder="Especie" [(ngModel)]="mascota.especie"> -->
                        </div>
                        <div class="mb-2">
                            <input type="text" class="form-control form-control-lg" id="raza" name="raza" placeholder="Raza" [(ngModel)]="mascota.raza">
                        </div>
                        <div class="mb-2 float-start">
                            <input class="form-check-input" type="radio" name="sexo" value="Macho" [(ngModel)]="mascota.sexo">Macho
                            <input class="form-check-input" type="radio" name="sexo" value="Hembra" [(ngModel)]="mascota.sexo" >Hembra
                        </div>
                        <div class="mb-2">
                            <input type="date" class="form-control form-control-lg" name="fecha_nac" class="form-control form-control-lg" id="fecha_nac" placeholder="Fecha_nac" [(ngModel)]="mascota.fecha_nac">
                        </div>
                        <div class="mb-2">
                            <button class="btn btn-secondary float-start" [routerLink]="['/mascotas']">VOLVER</button>
                            <button class="btn btn-primary float-end" type="submit" (click)="actualizar()">GUARDAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>