<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">ELIMINAR CONSULTA</span>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" id="_id" name="_id" placeholder="ID" required [(ngModel)]="consulta._id" readonly>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" id="fecha" name="fecha" placeholder="Fecha" [(ngModel)]="consulta.fecha" readonly>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" id="motivo" name="motivo" placeholder="Motivo" [(ngModel)]="consulta.motivo" readonly>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" id="diagnostico" name="diagnostico" placeholder="Diagnostico" [(ngModel)]="consulta.diagnostico" readonly>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" id="tratamiento" name="tratamiento" placeholder="Tratamiento" [(ngModel)]="consulta.tratamiento" readonly>
                        </div>
                        <div>
                            <span class="titulo">¿SEGURO QUE DESEA ELIMINAR CONSULTA?</span>
                            <button class="btn btn-secondary float-start" [routerLink]="['/consultas']">VOLVER</button>
                            <button class="btn btn-danger float-end" type="submit" (click)="eliminar()">ELIMINAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>